@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section{
        width: 90vw;
    }
    #imagen{
        float: left;
        width: 30%;
        height: 100%;
        background-position: 30% ;
    }
    #formulario{
        float: right;
        width: 70%;
    }
    
}
@media screen and (min-width: 992px){
    section{
        width: 992px;
    }
    #imagen{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
    }

}